
body {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

p, button {
    font-size: 22px;
    text-align: center;
    border: 2px solid #c21b6c;
    box-shadow: 1px 0px 3px #c21b6c;
    padding: 10px;
    border-radius: 10%;
    background-color: rgb(59, 187, 0);
    letter-spacing: 2px;
}

h1, h2, h3 {
    text-align: center;
    color: #c21b6c;
    letter-spacing: 2px;
}

#images {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-items: center;
    align-items: center;
    margin: 5vw;

      img {
        width: 90%;
        border-radius: 5%;
        object-fit: cover;
    }
}


